* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 20px;
    background-color: rgb(232, 185, 151);
}

h3 {
    text-align: center;
    margin: 20px;
    background-color: rgb(137, 145, 233);
}

.container1 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(232, 188, 47);
    text-align: center;
}

.item1 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    border: 2px solid black;
}

.item2 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    border: 2px solid black;
}

.item3 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    border: 2px solid black;
}

.item4 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    border: 2px solid black;
}

.container2 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(232, 188, 47);
    text-align: center;
}

.container3 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: rgb(232, 188, 47);
    text-align: center;
}

.container4 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(232, 188, 47);
    text-align: center;
}

.container5 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(232, 188, 47);
    text-align: center;
}

.container6 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(232, 188, 47);
    text-align: center;
}

.container7 {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-start;
    background-color: rgb(232, 188, 47);
    text-align: center;
}

.container8 {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    background-color: rgb(232, 188, 47);
    text-align: center;
}

.container9 {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: rgb(232, 188, 47);
    text-align: center;
}

.container10 {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: stretch;
    background-color: rgb(232, 188, 47);
    text-align: center;
}

.container11 {
    width: 100%;
    height: 300px;
    display: flex;
    align-content: space-between;
    background-color: rgb(232, 188, 47);
    text-align: center;
    flex-wrap: wrap;
    flex-basis: 100px;
}

.container12 {
    width: 100%;
    height: 300px;
    display: flex;
    align-content: space-around;
    background-color: rgb(232, 188, 47);
    text-align: center;
    flex-wrap: wrap;
    flex-basis: 100px;
}

.container13 {
    width: 100%;
    height: 300px;
    display: flex;
    align-content: space-evenly;
    background-color: rgb(232, 188, 47);
    text-align: center;
    flex-wrap: wrap;
    flex-basis: 100px;
}