.container{
   width: 90%;                
   max-width: 1200px;       
   margin: 0 auto;           
   padding: 0 30px;
   text-align: center;
   border: 5px solid black;
}

.p{
    color : gray ;
    font-family: cursive ;
    font-size: 25px ;
}